{% extends "base.html" %}
{% block title %}關於我們{% endblock %}
{% block content %}
<main class="container-fluid">
    <br>
  <div class="container">
    <h2>Authors</h2>
    <div class="row row-cols-2">
        <div class="col card">
            <br>
            <div class="row row-cols-2">
                <img decoding="async" class="col-md-5 rounded-circle" src="/static/images/author/Thchen.jpg"
                    alt="Card image" width="50px" height="auto">
                <div class="card-body col-md-7">
                    <h4 class="card-title">陳亭澔</h4>
                    <p class="card-text">
                    <ul>
                        <li>數三AI資教組</li>
                        <li>負責後端程式設計</li>
                        <li>負責資料庫設計</li>
                    </ul>
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile1">
                        修課心得
                    </button>


                    <!-- 模态框 -->
                    <div class="modal fade" id="profile1">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">修課心得</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- 模态框内容 -->
                                <div class="modal-body">
                                    <p>在這次的動態網頁專案的製作，我主要負責後端的部分，在製作的過程中一波三折，有時候為了要把功能做出來抑或是執行的過程中出現錯誤訊息時，我都不分晝夜的要把他製作或解決。在這三個月來，雖然過程如此的艱辛，但還是讓我收穫滿滿，同時也讓我下定決心要繼續的更新下去，讓這個網站更加完美與完善。</p>
                                </div>

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">關閉</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col card">
            <br>
            <div class="row row-cols-2">
                <img decoding="async" class=" col-md-5 rounded-circle" src="/static/images/author/Joewu.jpg"
                    alt="Card image" width="50px" height="auto">
                <div class="card-body col-md-7">
                    <h4 class="card-title">吳兆軒</h4>
                    <p class="card-text">
                    <ul>
                        <li>數三AI資教組</li>
                        <li>負責前端網頁設計</li>
                        <li>負責CSS撰寫</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile2">
                        修課心得
                    </button>


                    <!-- 模态框 -->
                    <div class="modal fade" id="profile2">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">

                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">修課心得</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- 模态框内容 -->
                                <div class="modal-body">
                                    <p>在這次的課程中，我收穫了許多，讓我了解了Django前後端資料的傳遞運作模式。而在專案的製作過程中，我不僅熟悉了HTML及CSS語法，同時也做出了不同於以前專案的內容。雖然這個專案做了2、3個月，過程中有點辛苦，但看到了這個成果後，也讓我覺得這段時間的付出紹值得的。
                                    </p>
                                </div>

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">關閉</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
  </div>    
</main>
{% endblock %}