{% extends "base.html" %}
{% block title %}首頁{% endblock %}
{% block content %}
<!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
	  <span class="carousel-control-next-icon"></span>
  </button>
</div>
		<main class="container">
			<br>
			<p>{{ social_account }}'s Google profile picture</p>
			<div class="row">
			<div class="col-md-8">
				<div class="card" style="width: 45rem;">
					<div class="card-body">
					  <h2 class="card-title">Sample blog post</h2>
					  <h6 class="card-subtitle mb-2 text-muted">January 1, 2021 by <a href="#">Mark</a></h6>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <p class="card-text">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
					  <a href="#" class="btn btn-outline-primary">more</a>
					</div>
				  </div>
				  <br>
				  <div class="card" style="width: 45rem;">
					<div class="card-body">
					  <h2 class="card-title">Sample blog post</h2>
					  <h6 class="card-subtitle mb-2 text-muted">January 1, 2021 by <a href="#">Mark</a></h6>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <p class="card-text">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
					  <a href="#" class="btn btn-outline-primary">more</a>
					</div>
				  </div>
				  <br>
				  <div class="card" style="width: 45rem;">
					<div class="card-body">
					  <h2 class="card-title">Sample blog post</h2>
					  <h6 class="card-subtitle mb-2 text-muted">January 1, 2021 by <a href="#">Mark</a></h6>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <p class="card-text">This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
					  <a href="#" class="btn btn-outline-primary">more</a>
					</div>
				  </div>

			
		  
			</div>
		  
			  <div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
				  <div class="p-4 mb-3 bg-light rounded">
					<h4 class="fst-italic">關於</h4>
					<p class="mb-0">本網站是一個知名科技新聞網站，報導全球最新的科技趨勢和新知識，涵蓋各種領域，包括人工智慧、區塊鏈、物聯網、生物科技等。此外，此網站也提供創業公司的新聞和資訊，讓讀者可以掌握最新的商業趨勢和機會。</p>
				  </div>
		  
				  <div class="p-4">
					<h4 class="fst-italic">依時間分類</h4>
					<ol class="list-unstyled mb-0">
					  <li><a href="#">March 2023</a></li>
					  <li><a href="#">February 2023</a></li>
					  <li><a href="#">January 2023</a></li>
					  <li><a href="#">December 2022</a></li>
					  <li><a href="#">November 2022</a></li>
					  <li><a href="#">October 2022</a></li>
					  <li><a href="#">September 2022</a></li>
					  <li><a href="#">August 2022</a></li>
					  <li><a href="#">July 2022</a></li>
					  <li><a href="#">June 2022</a></li>
					  <li><a href="#">May 2022</a></li>
					  <li><a href="#">April 2022</a></li>
					</ol>
				  </div>
					<hr>
				  <div class="p-4">
					<h4 class="fst-italic">社群媒體</h4>
					  <a href="#" class="btn btn-dark">GitHub</a>
					  <a href="#" class="btn btn-success">Line</a>
					  <a href="#" class="btn btn-primary">Facebook</a>
				  </div>
				</div>
				</div>
			  </div>
			</div>
		  
		  </main>
{% endblock %}