{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% load static %} 

{% block content %}
<br>
<br>
<br>
<div class="container">
<div class="row">
	<div class="col-md-9">
		<div class="contentbox">
			<table>
			<tr>
			  <th><h2>{{title}}</h2></th>
			</tr>
			<tr>
			  <td>
				<span class="newsinfo">
				<span class="typeblock">
					<img src="{% static 'images/blogicon/categories.png'%}" alt="" width="16" height="16" />&nbsp;{{category}}
				</span>&nbsp;
				<img src="{% static 'images/blogicon/clock.png' %}" alt="" width="16" height="16" />&nbsp;{{pubtime}}&nbsp;
				<img src="{% static 'images/blogicon/price-tag.png' %}" alt="" width="16" height="16" />&nbsp;
				{% for tag in tags.all %}
					<span><a href="#" class="text-decoration-none">#{{ tag }}</a></span>
				{% endfor %} 
				<p>&nbsp;&nbsp;{{content | safe}}</p>
				</span>
			  </td>
			</tr>
			</table>
			<br>
			<div class="row">
				<div class="col-md-1 d-flex align-items-center">
					<img src="{{ request.session.picture_url }}" class="rounded-circle mr-3 "
					alt="{{ request.session.picture_url }}{{ user.username }}'s profile picture" width="40" height="40">
				</div>
				<form method="POST" style="padding: 0;margin:0 ;display: flex;" class="col-md-11">
					<div class="col-md-10">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name="bcontent" placeholder="發表留言..."style="width: 100%;"></input>
						<input type="hidden" name="bblogpost" value="{{ unit.id }}">
						<input type="hidden" name="bauthor" value="{{ request.user.id }}">
					</div>
					</div>
					<div class="col-md-2" style="margin-left:10px">
						<button type="submit" class="btn btn-primary">留言</button>
					</div>
				</form>
			</div>
			<div>
				{% for board in boards %}
				  <div class="d-flex align-items-center mb-3">
					{% if board.bauthor.profile_pic %}
					  <img src="/media/{{ board.bauthor.profile_pic }}" class="rounded-circle mr-3"
						alt="{{ board.bauthor.user_name }}'s profile picture" width="40" height="40">
					{% else %}
					  <img src="{% static 'images/user_default.png' %}" class="rounded-circle mr-3"
						alt="{{ board.bauthor.user_name }}'s profile picture" width="40" height="40">
					{% endif %}
					<div>
					  <span>&emsp;{{ board.bauthor.user_name }}&emsp;</span>
						{% if board.btimedelta < 60 %}
					  		<span>{{ board.btimedelta  }} 分鐘前</span><br>
					  	{% elif board.btimedelta < 1440 %}
					  		<span>{% widthratio board.btimedelta 60 1 %} 小時前</span><br>
						{% else %}
							<span>{% widthratio board.btimedelta 1440 1 %} 天前</span><br>				
					  	{% endif %}
					  		<span>&emsp;{{ board.bcontent }}</span><br>					  
					</div>
				  </div> 
				{% endfor %}
			</div>
			<div class="topfunction">
				<a class="btn btn-light" href="/apple-blog/"><img src="{% static 'images/blogicon/back.png' %}" alt="上一頁" width="25" height="25"  />&nbsp;上一頁</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="position-sticky" style="top: 2rem;">
			<div class="p-4 mb-3 rounded">
				<h4 class="fst-italic">關於</h4>
				<p class="mb-0">
					本網站是一個知名科技新聞網站，報導全球最新的科技趨勢和新知識，涵蓋各種領域，包括人工智慧、區塊鏈、物聯網、生物科技等。此外，此網站也提供創業公司的新聞和資訊，讓讀者可以掌握最新的商業趨勢和機會。
				</p>
			</div>
			<hr>
			<div class="p-4">
				<h4 class="fst-italic">依時間分類</h4>
				<ol class="list-unstyled mb-0">
					<li><a href="#">March 2023</a></li>
					<li><a href="#">February 2023</a></li>
					<li><a href="#">January 2023</a></li>
					<li><a href="#">December 2022</a></li>
					<li><a href="#">November 2022</a></li>
					<li><a href="#">October 2022</a></li>
					<li><a href="#">September 2022</a></li>
					<li><a href="#">August 2022</a></li>
					<li><a href="#">July 2022</a></li>
					<li><a href="#">June 2022</a></li>
					<li><a href="#">May 2022</a></li>
					<li><a href="#">April 2022</a></li>
				</ol>
			</div>
			<hr>
			<div class="p-4">
				<h4 class="fst-italic">社群媒體</h4>
				<button type="button" href="#" class="btn btn-dark">
					<span class="button__text">GitHub</span>
					<span class="button__icon"><ion-icon name="logo-github"></ion-icon></span>
				</button>
				<br>
				<br>
				<button type="button" href="#" class="btn btn-primary">
					<span class="button__text">Facebook</span>
					<span class="button__icon"><ion-icon name="logo-facebook"></ion-icon></span>
				</button>
			</div>
		</div>
	</div>
</div>
</div>
<br>
{% endblock %}
