.tab-demo {
  padding: 20px;
}

.tab-title {
  display: flex;
  padding-left: 0px;  /*將li 排列再一起*/
  
}

.tab-title li {
  padding: auto;
  border-bottom:2px solid #0071bc;
}

.tab-title li a {
  display: block;
  padding: 10px 5px;
  width: 150px;
  color: #333;
  background-color: #fafafa;
  text-decoration: none;
  text-align: center;
}

.tab-title li.active a {
  color: #fff;
  background-color: #0071bc;
}

.tab-inner {
  padding: 10px;
}