{% extends "base.html" %}
{% load socialaccount %}

{% block title %}Login{% endblock %}
{% block content %}
		<br>
		<br>
		<h1>AuthDev</h1>
		<h3>登入</h3>
		
		<form action="" method="POST">
		
			{% csrf_token %}
			{{ form }}
		
			<input class="btn btn-primary" type="submit" value="" />
		
			<a class="btn border border-2" href="{% provider_login_url 'google' method='oauth2' %}"><img src="../static/images/google.png"  width="25" heigh="25">Google登入</a>
			<a class="btn btn-danger" href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=1026059256463-ed8pi7lul5ercb9qmpcf84u01ei98cjj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile&response_type=code&state=jzSrMAt2sjKM&service=lso&o2v=2&flowName=GeneralOAuthFlow">Google登入</a>
			
			<div class="g-signin2" data-onsuccess="onSignIn">a</div>
		
			<p>還沒有帳號嗎?註冊</a></p>
		
		</form>
		
{% endblock %}