{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section style="background-color: #eee;">
    <input type="checkbox" name="" id="sideMenu-active" />
    <div class="sideMenu">
        <div class="d-flex flex-column flex-shrink-0 p-3">
            <span class="fs-4"><img src="{% static 'images/usericon/avatar.png' %}" width="30px"
                    height="30px">&nbsp;Profile</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item" style="padding-right: 10px;">
                    <a href="/profile/" class="nav-link active" aria-current="page">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/profile/basic_info/" class="nav-link link-dark">
                        Basic info
                    </a>
                </li>
                <li>
                    <a href="/profile/dashboard/" class="nav-link link-dark">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/profile/notifications/" class="nav-link link-dark">
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="/profile/account/" class="nav-link link-dark">
                        Account
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <label for="sideMenu-active">
            <i class="fas fa-angle-right"></i>
        </label>
    </div>
    <div class="container  py-5">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 row">
                <nav style="--bs-breadcrumb-divider: '>';background-color: #fff;border-radius: .25rem;width: 98%; margin:0px 12px 10px 12px ; border: 1px solid rgba(0,0,0,.125);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb" style="align-items: center;margin: 10px 10px;">
                        <li class="breadcrumb-item active" aria-current="page"><a href="/profile/"
                                style="text-decoration: none;">Home</a></li>
                    </ol>
                </nav>
                <div class="col-lg-3">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            <div style="position: relative; display: inline-block;">
                                {% if unit.profile_pic %}
                                <img src="/media/{{ unit.profile_pic }}" alt="{{ unit.user_name }}'s profile picture"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                {% else %}
                                <img src="{% static 'images/user_default.png' %}"
                                    alt="{{ unit.user_name }}'s profile picture" class="rounded-circle img-fluid"
                                    style="width: 150px;">
                                {% endif %}
                                {% if unit.id == user.id %}
                                <form id="photo-form" style="position: absolute; bottom: 0; right: 0;">
                                    {% csrf_token %}
                                    <div class="rounded-circle"
                                        style="position: relative; background-color: white; width: 40px;height: 40px; border: 1px solid rgb(184, 184, 184); ">
                                        <label for="photo"><img src="{% static 'images/usericon/camera.png' %}"
                                                width=25px height=25px
                                                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></label>
                                    </div>
                                    <div>
                                        <input type="file" class="form-control" id="photo" name="photo" accept="image/*"
                                            style="display: none;">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            <h5 class="my-3">{{ unit.user_name }}</h5>
                            <p class="text-muted mb-1">{{ occupation|default:'' }}</p>
                            <p class="text-muted mb-4">{{ unit.academic|default:'' }}</p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary">Follow</button>
                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0 shadow-sm">
                        <p class="d-flex justify-content-between align-items-center p-3 mb-0"
                            style="font-weight: bold;font-size: 18px;">Personal website</p>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">@mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0 shadow-sm">
                                <div class="card-body">
                                    <p class="mb-4" style="font-weight: bold;font-size: 18px;">整體答對率</p>
                                    <div>
                                        <span class="mb-1" style="font-weight: bold; font-size: 16px;">Easy</span>
                                        <p class="badge bg-success" style="font-size: 14px;">{{ correct_easy }} / {{ total_easy }}</p>
                                        <div class="progress rounded" style="height: 20px;">
                                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                                role="progressbar" style="width: {{ correct_easy_rate }}%" aria-valuenow="{{ correct_easy_rate }}" aria-valuemin="0"
                                                aria-valuemax="100">{{ correct_easy_rate }}%</div>
                                        </div>
                                    </div>
                                    <div style="margin-top:15px">
                                        <span class="mt-4 mb-1" style="font-weight: bold; font-size: 16px;">Medium</span>
                                        <p class="badge bg-warning" style="font-size: 14px;">{{ correct_medium }} / {{ total_medium }}</p>
                                        <div class="progress rounded" style="height: 20px;">
                                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                                role="progressbar" style="width: {{ correct_medium_rate }}%" aria-valuenow="{{ correct_medium_rate }}" aria-valuemin="0"
                                                aria-valuemax="100">{{ correct_medium_rate }}%</div>
                                        </div>
                                    </div>
                                    <div style="margin-top:15px">
                                        <span class="mt-4 mb-1" style="font-weight: bold; font-size: 16px;">Hard</span>
                                        <p class="badge bg-danger" style="font-size: 14px;">{{ correct_hard }} / {{ total_hard }}</p>
                                        <div class="progress rounded" style="height: 20px;">
                                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                role="progressbar" style="width: {{ correct_hard_rate }}%" aria-valuenow="{{ correct_hard_rate }}" aria-valuemin="0"
                                                aria-valuemax="100">{{ correct_hard_rate }}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0 shadow-sm">
                                <div class="card-body">
                                    <p style="font-weight: bold;font-size: 18px;">
                                        各類型答對率
                                    </p>
                                    <canvas id="myChart" width="300" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0 shadow-sm">
                                <div class="card-body">
                                    <p style="font-weight: bold;font-size: 18px;">
                                        相關留言
                                    </p>
                                    <canvas id="barChart" width="300" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0 shadow-sm">
                                <div class="card-body">
                                    <p style="font-weight: bold;font-size: 18px;">
                                        相關留言
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script>
    // 在页面加载完成后执行以下代码
    window.addEventListener('load', function () {
        // 获取下拉菜单和内容区域的元素
        var dropdown = document.getElementById('dropdown1');
        var contentDivs = document.getElementsByClassName('content');
        console.log(dropdown);
        console.log(contentDivs);
        // 监听下拉菜单的值变化事件
        dropdown.addEventListener('change', function () {
            // 获取当前选中的选项值
            var selectedValue = dropdown.value;

            // 遍历所有内容区域元素
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i];

                // 检查内容区域的自定义属性与选中的值是否匹配
                if (contentDiv.dataset.option === selectedValue) {
                    // 显示匹配的内容区域
                    contentDiv.style.display = 'block';
                } else {
                    // 隐藏其他内容区域
                    contentDiv.style.display = 'none';
                }
            }
        });
    });
</script>
<!-- <script src="/static/js/profile.js"></script>
<script>
    const profileUrl = "{% url 'Profile' %}";
    const photoUrl = "{% url 'Photo' %}";
</script> -->
<script>
    var ctx = document.getElementById("myChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['雲', '雨量', '氣壓', '天氣圖', '其他',],
            datasets: [{
                label: "個人作答率",
                data: [75, 55, 34, 27, 18],
                fill: true,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgb(255, 99, 132)",
                pointBackgroundColor: "rgb(255, 99, 132)",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgb(255, 99, 132)"
            },
            {
                label: "全體作答率",
                data: [95, 75, 66, 12, 5],
                fill: true,
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                borderColor: "rgb(54, 162, 235)",
                pointBackgroundColor: "rgb(54, 162, 235)",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgb(54, 162, 235)"
            }]
        },
        options: {
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 50,
                    suggestedMax: 100
                }
            }
        }
    });
    var ctx = document.getElementById("barChart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["簡單", "中等", "困難"],
            datasets: [{
                label: "Apple新聞",
                data: [65, 59, 80],
                fill: false,
                backgroundColor: ["rgba(255, 99, 132, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(255, 99, 132, 0.2)"],
                borderColor: ["rgb(255, 99, 132)", "rgb(255, 99, 132)", "rgb(255, 99, 132)"],
                borderWidth: 1
            },
            {
                label: "氣象科普",
                data: [81, 20, 40],
                fill: false,
                backgroundColor: ["rgba(75, 192, 192, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(75, 192, 192, 0.2)",],
                borderColor: ["rgb(75, 192, 192)", "rgb(75, 192, 192)", "rgb(75, 192, 192)",],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

{% endblock %}