{% extends "base.html" %}
{% block title %}測驗結果{% endblock %}
{% block content %}
{% load static %}
{% load quiz_filter %}
<link rel="stylesheet" href="/static/css/quiz.css">
<div class="container" >
   <br>
   <div class="row">
      <div class="col-md-6">
         <h1>測驗結果</h1>
      </div>
      <div class="col-md-6" >
         <div class="row" style="display: flex;align-items: center;">
            <div class=" col-md-6">
               <div>
                  <h4 class="badge" style="font-size: 20px;background-color: #e8b008;">總題數：{{ quiz.question_amount }}</h4>
                  <h4 class="badge" style="font-size: 20px;background-color: #4a67c4;">答對題數：{{ correct_amount }}</h4>
               </div>
               <div>
                  <h4 class="badge bg-secondary" style="font-size: 20px;">分數：{{ quiz_result.score }}</h4>
                  <h4 class="badge bg-secondary" style="font-size: 20px;">花費時間：{{ user_answer_time | get_str_time }}</h4>
               </div>
            </div>
            <div class="col-md-6" style="display: flex;justify-content: flex-end;">
               <a href="/quiz/index/" type="button" class="btn btn-danger">回測驗首頁</a>
            </div>
         </div>
      </div>
   </div>
   {% for question in questions %}
   <div class="mainquiz container-fluid">
      <div class="scp-quizzes-main">
         <div class="scp-quizzes-data">
            <div class="row">
               <div>
                  <div style="display: flex;justify-content: space-between;">
                     <h3>{{ forloop.counter }}. {{ question.question }} </h3>
                  {% if question.question_url%}
                  <img src="{{ question.question_url }}" alt="" width="30%" >
                  {% endif %}
                  </div> 
                  <div>
                     <h4 class="badge bg-info" style="font-size: 18px;display: block;width: 35%;">正確答案 {{ question.correct_answer }}&emsp;填寫的答案：{{ userAnswer|get_answer:forloop.counter }} &emsp;正確率：{{ question.correct_rate }}%</h4>
                     <p class="badge rounded-pill bg-danger" style="font-size: 16px;">詳解</p>
                     <h4 style="font-size: 18px;letter-spacing: 2px;">{{ question.detail_explanation }}</h4>
                  </div>
               </div>
            </div>
            <br>
            {% if userAnswer|get_answer:forloop.counter == 'A' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% elif userAnswer|get_answer:forloop.counter == 'B' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% elif userAnswer|get_answer:forloop.counter == 'C' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% else %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>4. {{ question.choice4 }}</label>
            {% endif %}
         </div>
      </div>
   </div>
   {% endfor %}
</div>
<br>
<br>
{% endblock %}