{% extends "base.html" %}
{% block title %}氣象科普測驗首頁{% endblock %}
{% block content %}
{% load static %}
		<div class="container px-4 py-5" id="custom-cards" bis_skin_checked="1">
			<h2 class="pb-2 border-bottom ">測驗選擇</h2>
            <div class="row " style="justify-content: center;">
                <div class="col-md-3 shadow-lg overflow-hidden" style="height:300px;width:400px;border-radius: 5px; margin: 10px;align-items: center;background-image:url('/static/images/apple.jpg');background-size: cover;" role="button" data-bs-toggle="collapse" data-bs-target="#apple-blog" aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-decoration: none;color: #fcfcfc;text-shadow: 2px 2px 4px #454545;padding-left: 5px;" >APPLE新聞</h3>
                </div>
                <div class="col-md-3 shadow-lg overflow-hidden" style="height:300px;width:400px;border-radius: 5px; margin: 10px;align-items: center;background-image:url('/static/images/weather.jpg');background-size: cover;" role="button" data-bs-toggle="collapse" data-bs-target="#weather" aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-decoration: none;color: #fcfcfc;text-shadow: 2px 2px 4px #454545;padding-left: 5px;" >氣象科普</h3>
                </div>
                <div class="col-md-3 shadow-lg overflow-hidden" style="height:300px;width:400px;border-radius: 5px; margin: 10px;align-items: center;background-image:url('/static/images/apple.jpg');background-size: cover;" role="button" data-bs-toggle="collapse" data-bs-target="#other" aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-decoration: none;color: #fcfcfc;text-shadow: 2px 2px 4px #454545;padding-left: 5px;" >其他</h3>
                </div>
            </div>
            <h2 class="pb-2 border-bottom" ></h2>
            <!--種類選單-->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 " bis_skin_checked="1" style="padding-bottom: 20px;height: 200px;width: auto;">
				<div class="col" bis_skin_checked="1">
                    <div class="collapse" id="apple-blog">
                        <div class="card card-body">
                            <ul style="font-size: 18px;list-style-type: none;">
                                <li><a class="dropdown-item" href="/quiz">iOS 測驗題</a></li>
                                <li><a class="dropdown-item" href="/quiz">iPhone 測驗題</a></li>
                                <li><a class="dropdown-item" href="/quiz">iPadOS 測驗題</a></li>
                            </ul>
                        </div>
                    </div>
				</div>

				<div class="col" bis_skin_checked="1">
                    <div class="collapse" id="weather">
                        <div class="card card-body" >
                            <ul style="font-size: 18px;list-style-type: none;">
                                <li><a class="dropdown-item" href="/quiz">颱風 測驗題</a></li>
                                <li><a class="dropdown-item" href="/quiz">梅雨 測驗題</a></li>
                                <li><a class="dropdown-item" href="/quiz">焚風 測驗題</a></li>
                                <li><a class="dropdown-item" href="/quiz">氣溫 測驗題</a></li>
                            </ul>
                        </div>
                    </div>
				</div>

				<div class="col" bis_skin_checked="1">
                    <div class="collapse" id="other">
                        <div class="card card-body">
                            <ul style="font-size: 18px;list-style-type: none;">
                                <li><a class="dropdown-item" href="/quiz">Action</a></li>
                                <li><a class="dropdown-item" href="/quiz">Another action</a></li>
                                <li><a class="dropdown-item" href="/quiz">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>
		</div>

<br>
<br>
{% endblock %}