{% extends "base.html" %}
{% block title %}氣象科普測驗{% endblock %}
{% block content %}
{% load static %}
{% load quiz_filter %}
<link rel="stylesheet" href="/static/css/quiz.css">
<div class="container" style="justify-content: center;">
   <br>
   <div class="row">
      <div class="col-md-6">
         <h1>氣象科普測驗</h1>
      </div>
      <div class="col-md-6">
         <button type="button" class="btn btn-danger"  data-bs-toggle="modal"data-bs-target="#alert" style="float: right; margin-left: 20px;">回測驗首頁</button>
      </div>
   </div>
   {% for question in questions %}
   <div class="mainquiz container-fluid">
      <div class="scp-quizzes-main">
         <div class="scp-quizzes-data">
            <div class="row">
               <div>
                  <h3>{{ question.question }} </h3>
                  <h4 class="justify-content-end" style="display: inline;">正確答案 {{ question.correct_answer }}{{ userAnswer|get_answer:forloop.counter }}</h4>
                  {% if question.question_url%}
                  <img src="{{ question.question_url }}" alt="" width="30%">
                  {% endif %}
                  <h4>{{ question.detail_explanation }}</h4>
               </div>
            </div>
            <br>
            {% if userAnswer|get_answer:forloop.counter == 'A' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% elif userAnswer|get_answer:forloop.counter == 'B' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% elif userAnswer|get_answer:forloop.counter == 'C' %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}">4. {{ question.choice4 }}</label>
            {% else %}
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice1 }}">
            <label id="label1_{{ forloop.counter }}">1. {{ question.choice1 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice2 }}">
            <label id="label2_{{ forloop.counter }}">2. {{ question.choice2 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice3 }}">
            <label id="label3_{{ forloop.counter }}">3. {{ question.choice3 }}</label>
            <br>
            <input type="radio" name="question{{ forloop.counter }}" value="{{ question.choice4 }}">
            <label id="label4_{{ forloop.counter }}" {% if question.correct_answer == userAnswer|get_answer:forloop.counter %}class="correct"{% else %}class="wrong"{% endif %}>4. {{ question.choice4 }}</label>
            {% endif %}
         </div>
      </div>
   </div>
   {% endfor %}
</div>
<br>
<br>
{% endblock %}