{% extends "base.html" %}
{% block title %}首頁{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/towntab.css">
<br>
<div class="container-fluid" bis_skin_checked="1">
    <div class="row" bis_skin_checked="1">
        <div class="col-md-5 col-lg-6">
                        <!-- <form >
                <label for="city">縣市：</label>
                <input type="text" id="city" name="city"><br><br>
                <label for="town">鄉鎮：</label>
                <input type="text" id="town" name="town"><br><br>
                <button type="submit">查詢</button>
            </form> -->
            
            <form id="region-form">
                <div class="row g-3">
                    <div class="col-md-5">
                        <label for="countySelect" class="form-label">County</label>
                        <select class="form-select" id="countySelect">
                            <option value="" disabled>-- Select County --</option>
                            <option value="宜蘭縣_F-D0047-003">宜蘭縣</option>
                            <option value="桃園市_F-D0047-007">桃園市</option>
                            <option value="新竹縣_F-D0047-011">新竹縣</option>
                            <option value="苗栗縣_F-D0047-015">苗栗縣</option>
                            <option value="彰化縣_F-D0047-019">彰化縣</option>
                            <option value="南投縣_F-D0047-023">南投縣</option>
                            <option value="雲林縣_F-D0047-027">雲林縣</option>
                            <option value="嘉義縣_F-D0047-031">嘉義縣</option>
                            <option value="屏東縣_F-D0047-035">屏東縣</option>
                            <option value="臺東縣_F-D0047-039">臺東縣</option>
                            <option value="花蓮縣_F-D0047-043">花蓮縣</option>
                            <option value="澎湖縣_F-D0047-047">澎湖縣</option>
                            <option value="基隆市_F-D0047-051">基隆市</option>
                            <option value="新竹市_F-D0047-055">新竹市</option>
                            <option value="嘉義市_F-D0047-059">嘉義市</option>
                            <option value="臺北市_F-D0047-063">臺北市</option>
                            <option value="高雄市_F-D0047-067">高雄市</option>
                            <option value="新北市_F-D0047-071">新北市</option>
                            <option value="臺中市_F-D0047-075">臺中市</option>
                            <option value="臺南市_F-D0047-079">臺南市</option>
                            <option value="連江縣_F-D0047-083">連江縣</option>
                            <option value="金門縣_F-D0047-087">金門縣</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="townSelect" class="form-label">Town</label>
                        <select class="form-select" id="townSelect">
                            <option value="">-- Select Town --</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="display: flex; justify-content: center;  align-items: center;margin-top: 50px;">
                        <button type="submit"class="btn btn-primary">查詢</button>
                    </div>
                </div>
            </form>
        </div>
        <main class="col-md-7 ms-sm-auto col-lg-6 px-md-4">
            <span id="tab-1">逐三小時預報</span>
            <span id="tab-2">一周溫度曲線</span>
            <span id="tab-3">一周體感溫度曲線</span>
            <span id="tab-4">過去24小時</span>
            
            <div id="tab">
                <ul>
                    <li><a href="#tab-1">逐三小時預報</a></li>
                    <li><a href="#tab-2">一周溫度曲線</a></li>
                    <li><a href="#tab-3">一周體感溫度曲線</a></li>
                    <li><a href="#tab-4">過去24小時</a></li>
                </ul>
            
                <!-- 頁籤的內容區塊 -->
                <div class="tab-content-1">
                    <p>主頁面顯示的內容</p>
                </div>
                <div class="tab-content-2">
                        <!--一周溫度曲線-->
                        <div id="chart-container">
                            <canvas class="my-4 w-100" id="myChart" width="967" height="408" style="display: block; box-sizing: border-box; height: 364px; width: 864px; white-space: pre-line;"></canvas>
                        <div id="chart-dates">
                            <span>01/01</span>
                            <span>01/02</span>
                            <span>01/03</span>
                            <span>01/04</span>
                            <span>01/05</span>
                            <span>01/06</span>
                            <span>01/07</span>
                        </div>
                        <div id="chart-dates">
                            <span>(一)</span>
                            <span>(二)</span>
                            <span>(三)</span>
                            <span>(四)</span>
                            <span>(五)</span>
                            <span>(六)</span>
                            <span>(日)</span>
                        </div>
                    </div>
                    <!--一周溫度曲線-->
                </div>
                <div class="tab-content-3">
                  <p>頁面2顯示的內容</p>
                </div>
                <div class="tab-content-4">
                  <p>頁面3顯示的內容</p>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="../static/js/weatherchart.js"></script>
<script>
    const townUrl = "{% url 'Town' %}";
</script>

{% endblock %}